.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 10vh;
  width: 100vw;
  margin: 0;
  align-items: center;
}

.navbar-text {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 2em;
  margin-right: 2em;
  color: white;
  flex-direction: column;
}
